version: 2
updates:
  - package-ecosystem: "nuget"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "04:00"
    target-branch: "main"
    commit-message:
      prefix: "deps"
    open-pull-requests-limit: 1
    ignore:
      - dependency-name: "AutoMapper"
      - dependency-name: "AutoMapper.*"
      - dependency-name: "MediatR"
      - dependency-name: "MediatR.*"
    groups:
      all-dependencies:
        patterns:
          - "*"
