@page "/pages/analytics/outcome-quality-dip-sampling/{SampleId:guid}/{ParticipantId}"
@using Cfo.Cats.Server.UI.Pages.Analytics.Components
@inherits CatsComponentBase


<MudContainer Style="min-width: 480px; width: 100%;" MaxWidth="MaxWidth.ExtraExtraLarge">
    @if (_isLoading)
    {
        <MudLoading Text="Loading sample" Color="Color.Primary"/>
    }

    @if (_isLoading == false && _error is not null)
    {
        <MudAlert Severity="Severity.Error">
            <MudText>
                @_error
            </MudText>
        </MudAlert>
    }

    @if (_isLoading == false && _participant is not null)
    {
        // participant details
        <MudText Typo="Typo.h5" Class="mb-5">
            Outcome Quality Dip Sample
        </MudText>

        <MudGrid Style="height: 100vh; width: 100%;">
            <MudItem xs="2">
                <MudStack style="align-self: flex-start; position: sticky; top: 16px; width: 100%;" Class="mr-2" Wrap="Wrap.Wrap">
                    <MudTextField ReadOnly="true" Label="Participant Id" Value="_participant.ParticipantId"/>
                    <MudTextField ReadOnly="true" Label="First Name" Value="_participant.FirstName"/>
                    <MudTextField ReadOnly="true" Label="Last Name" Value="_participant.LastName"/>
                    <MudTextField ReadOnly="true" Label="Date Of Birth" Value="_participant.DateOfBirth"/>
                    <MudTextField ReadOnly="true" Label="Nationality" Value="_participant.Nationality"/>
                    <MudTextField ReadOnly="true" Label="Current Owner" Value="_participant.SupportWorker"/>
                    <MudTextField ReadOnly="true" Label="Enrolment Location" Value="_participant.EnrolmentLocation"/>
                    <MudTextField ReadOnly="true" Label="Current Location" Value="_participant.CurrentLocation"/>
                </MudStack>
            </MudItem>

            <MudItem xs="10" Style="height: 100%; width: 100%;">
                <MudTabs>
                    <MudTabPanel Text="Events">
                        <div style="height: calc(100vh - 250px); overflow-y: auto;">
                            <OutcomeQualityDipSampleTimelineComponent Participant="_participant"/>
                        </div>
                    </MudTabPanel>
                    <MudTabPanel Text="Details">
                        <div style="height: calc(100vh - 250px); overflow-y: auto;">
                            <OutcomeQualityDipSamplePathwayPlanComponent ParticipantId="@_participant.ParticipantId"/>
                        </div>
                    </MudTabPanel>
                    <MudTabPanel Text="Assessments">
                        <div style="height: calc(100vh - 250px); overflow-y: auto;">
                            <OutcomeQualityDipSampleAssessmentComponent ParticipantId="@_participant.ParticipantId" />
                        </div>
                    </MudTabPanel>
                </MudTabs>
            </MudItem>
        </MudGrid>
    }
</MudContainer>