@using Microsoft.AspNetCore.Http

@inject IConfiguration Configuration

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link href="_content/MudBlazor/MudBlazor.min.css?v=@Version" rel="stylesheet"/>
    <link href="_content/CodeBeam.MudBlazor.Extensions/MudExtensions.min.css?v=@Version" rel="stylesheet"/>
    <link href="css/app.css?v=@Version" rel="stylesheet" />
    <link href="Cfo.Cats.Server.UI.styles.css?v=@Version" rel="stylesheet" />
    <title>Case Assessment and Tracking System (CATS)</title>
    <link href="cats.ico" rel="icon" />
</head>

<body>
    <Routes @rendermode="RenderModeForPage" />
    <script>
        function timeOutCall(dotnethelper) {
        document.onmousedown = resetTimeDelay;
        document.onkeypress = resetTimeDelay;

        function resetTimeDelay() {
        dotnethelper.invokeMethodAsync("TimerInterval");
        }
        }
    </script>
    <script src="_framework/blazor.web.js?v=@Version" autostart="false"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js?v=@Version"></script>
    <script src="_content/BlazorDownloadFile/BlazorDownloadFileScript.js?v=@Version"></script>
    <script src="_content/CodeBeam.MudBlazor.Extensions/MudExtensions.min.js?v=@Version"></script>
    <script src="_content/BlazorTime/blazorTime.js?v=@Version"></script>
    <script src="js/toggleGroup.js?v=@Version"></script>
    <script>
        Blazor.start({
        circuit: {
        configureSignalR: function (builder) {
        builder.withServerTimeout(60000).withKeepAliveInterval(15000);
        }
        }
        });
    </script>
</body>

</html>

@code {
    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    string Version => Configuration["AppConfigurationSettings:Version"]!;

    private IComponentRenderMode? RenderModeForPage => HttpContext.Request.Path.StartsWithSegments("/pages/authentication")
        ? null
        : new InteractiveServerRenderMode(false);
}