@using Cfo.Cats.Server.UI.Components.Shared.FileUpload

<div class="d-flex flex-column">
    <MudText Typo="Typo.caption">
        For anyone recorded on PNomis / NDelius as non-British / non-Irish, documentation is required to support their Right to Work. More information on this requirement can be found in the CFO Enrolment Guidance.
    </MudText>

    <MudText Typo="Typo.caption">
        To your knowledge, is any Right to Work (RTW) documentation required for the enrolment of this person?
    </MudText>

    <MudButtonGroup DisableElevation OverrideStyles="false" Class="my-4">
        <MudButton Color="Color.Primary" Variant="@(isRequired ? Variant.Filled : Variant.Outlined)" OnClick="() => isRequired = true">Yes, Right to Work is required</MudButton>
        <MudButton Color="Color.Primary" Variant="@(isRequired ? Variant.Outlined : Variant.Filled)" OnClick="() => isRequired = false">No, Right to Work is not required</MudButton>
    </MudButtonGroup>
</div>

<MudForm @ref="Form" Disabled="isRequired is false">
    <MudDatePicker Label="Date of Expiry" Editable="true" MinDate="DateTime.UtcNow" Required="isRequired" />

    <div class="mb-4 mt-8">
        <CatsFileUpload UploadText="Upload Evidence" Accept=".pdf, .jpeg, .png" FilesChanged="FilesChanged" />
    </div>

    <MudCheckBox @ref="certify" Required="isRequired" Disabled="fileCount == 0" T="bool" RequiredError="You must upload a document and certify" Label="I certify that any documents uploaded are the original or true copies of the original documents, and will not be used to claim payments / results against any other Government contract" />
</MudForm>

@code {
    private bool isRequired = true;
    int fileCount = 0;

    MudCheckBox<bool> certify { get; set; } = default!;

    MudForm? Form { get; set; }

    async Task FilesChanged(int fileCount)
    {
        this.fileCount = fileCount;
        await certify.ResetAsync();
        StateHasChanged();
    }

    public bool Validate()
    {
        Form?.Validate();
        return Form?.IsValid ?? false;
    }
}
