.mud-nav-link {
    white-space: normal !important;
}

.side-menu .mud-chip.mud-chip-size-small {
    font-size: 0.625rem;
    height: 1.125rem;
}

:root{
    --mud-palette-action-default: white;
}

.description-list {
    display: flex;
    flex-direction: column;
}

.description-pair {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.description-pair dt {
    min-width: 100px;
    margin-right: 8px;
    font-weight: bold;
    text-align: left;
}

.description-pair dd {
    margin: 0;
    flex: 1;
}

.word-wrap {    
    word-wrap: break-word;
    white-space: normal;
}

.mud-tooltip-root {
    height: fit-content;
    display: flex !important;
}

.full-size-object {
    width: 100%;
    height: 100%;
}

.mud-table-toolbar {
    height: 120px !important;
}

.pointer-cursor {
    cursor: pointer;
}