@using Cfo.Cats.Server.UI.Components.Users


<MudDialog>
	<DialogContent>
		<div style="min-width: 600px;">
			<TenantSelectComponent ValueChanged="dto => { OnTenantSelectedChanged(dto); }" TenantId="@CurrentUser.TenantId" />
		</div>
	</DialogContent>
	<DialogActions>
		<MudButton OnClick="Dialog.Cancel">@ConstantString.Cancel</MudButton>
		<MudLoadingButton Loading="saving" Color="Color.Primary" OnClick="Submit" Disabled="@(SelectedTenant.TenantId == string.Empty)">@ConstantString.Ok</MudLoadingButton>
	</DialogActions>
</MudDialog>

