name: .NET Core Unit Tests

on:
  pull_request:
    branches:
      - develop
      - main

jobs:
  build:
    name: .NET Core Unit Tests
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Restore
      run: dotnet restore ./

    - name: Build
      run: dotnet build ./cats.sln --configuration Release --no-restore

    - name: Test
      run: dotnet test ./ --configuration Release --no-build --no-restore
